<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <title>Title</title>
</head>
<body>
用户名11： <input id="username" name="username" type="username">
密码：<input id="password" name="password" type="password">
<button onclick="login()" type="button" >登录</button>
</body>
<script>
    function login(){
        var user = {
            username:$("#username").val(),
            password:$("#password").val()
        };
        $.ajax({
            url: 'userLogin',
            type: 'POST',
            dataType: 'json',
            data:user,
            error: function(data){
               console.log(data);
            },
            success: function(data){
                console.log(data);

            }
        });
    }

</script>
</html>